@import "../../../node_modules/normalize-scss/sass/normalize/import-now";
@import "../../../node_modules/spinkit/scss/spinners/7-three-bounce";
@import "app/helpers";
@import "app/reset";
@import "app/typography";
@import "app/buttons";
@import "app/layout";
@import "app/page-header";

/* Main content
 * ------------------------------------------------------------------- */
main {
	text-align: center;
	opacity: 1;
	transition: opacity .4s ease-in;
}

/* Welcome section
 * ------------------------------------------------------------------- */
.welcome {
	background: #20362a url(../images/hero-bg.jpg) 50% 50% no-repeat;
	background-size: cover;
	padding: 300px 0 280px;
	color: #ffffff;

	h2 {
		margin: 0;
		padding: 0;

		span {
			color: #f73636;
		}
	}

	p {
		font-size: 22px;
		margin: 0 0 50px;
		font-weight: 300;
		letter-spacing: 1px;
	}

	@media all and (max-width: 900px) {
		background-image: url(../images/hero-bg-900.jpg);
		padding: 160px 0 140px;

		h2 {
			font-size: 54px;
		}
	}

	@media all and (max-width: 630px) {
		padding: 150px 0 140px;

		h2 {
			font-size: 44px;
			margin-bottom: 14px;
			line-height: 50px;
		}

		p {
			font-size: 18px;
		}
	}
}

/* About section
 * ------------------------------------------------------------------- */
.about {
	margin: 0 auto;

	p {
		max-width: 940px;
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		max-width: 1600px;
		height: 500px;
		margin: 0 auto;
		background: #e6eae9 url(../images/woods.jpg) 50% no-repeat;

		@media all and (max-width: 900px) {
			background-image: url(../images/woods-900.jpg);
			height: 309px;
		}
	}
}

/* Offer section
 * ------------------------------------------------------------------- */
.offer {
	p {
		max-width: 520px;
	}

	.offer-list {
		display: flex;
		align-items: center;
		position: relative;
		margin: 0 auto;
		background-color: #e6eae9;
		min-height: 660px;
		max-width: 1600px;

		& > div {
			flex: 1 50%;
			margin-left: 50%;
			padding: 0 30px;
			text-align: left;

			&:before {
				content: '';
				position: absolute;
				width: 50%;
				top: 0;
				left: 0;
				bottom: 0;
				background: url(../images/offer-bg.jpg) 100% 50% no-repeat;
			}

			h3 {
				margin: 0 0 30px;
			}

			ul {
				li {
					position: relative;
					padding: 0 0 0 25px;
					margin-top: 14px;
					font-size: 14px;

					&:before {
						content: '';
						position: absolute;
						left: 3px;
						top: 8px;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						border: 2px solid #f73636;
						display: block;
					}
				}
			}
		}

		@media all and (max-width: 920px) {
			min-height: 0;
			padding-top: 60px;
			padding-bottom: 60px;

			& > div {
				margin: 0 auto;
				text-align: center;

				&:before {
					display: none;
				}

				h3 {
					font-size: 26px;
				}

				ul {
					li {
						padding: 0;

						&:before {
							display: none;
						}

						&:after {
							content: '';
							height: 1px;
							width: 30%;
							background: #90784c;
							display: block;
							margin: 13px auto;
							opacity: .4;
						}

						&:last-child:after {
							display: none;
						}
					}
				}
			}
		}
	}
}

/* Research section
 * ------------------------------------------------------------------- */
.research {
	p {
		max-width: 860px;

		&:last-child {
			margin-top: 30px;
		}
	}
}

/* Contact section
 * ------------------------------------------------------------------- */
.contact {
	background: #e6eae9;

	.wrap {
		$col-width: 380px;
		$padding-width: 40px;

		display: flex;
		justify-content: center;

		.address {
			width: $col-width;
			text-align: left;
			padding-right: $padding-width;

			.highlighted {
				font-weight: 700;
			}

			h3 {
				font-family: "Open Sans", sans-serif;
				font-size: 16px;
				margin-top: 0;
				margin-bottom: 2px;
			}

			p {
				line-height: 26px;
				margin-bottom: 14px;
			}

			a {
				text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.slide-wrapper {
			position: relative;
			width: 100%;
			max-width: $col-width;
			height: 320px;
			margin-left: $padding-width;

			.slide {
				position: absolute;
				width: 100%;
				top: 0;
				bottom: 0;
				left: 0;
				transition: .4s;
				transition-property: opacity, visibility, transform;
			}

			.message {
				@extend .hidden;

				p {
					margin: 40px 0 16px;
				}
			}

			.message-form {
				@extend .visible;

				fieldset {
					margin: 0 0 20px;
					border: none;
					display: block;
					text-align: left;

					label {
						display: block;
						font-size: 14px;
						margin-bottom: 4px;
					}

					input,
					textarea {
						width: 100%;
						padding: 10px;
						color: #000000;
						border: 1px solid #c6c6c6;
						outline: 0;
						display: block;
					}

					&.error {
						input,
						textarea {
							border-color: #ff3434;
						}

						span {
							color: #ff3434;
							font-size: 14px;
							font-weight: 400;
						}
					}
				}

				.btn {
					outline: 0;
					min-width: 100%;

					.sk-three-bounce {
						display: none;
					}

					&.loading {

						.label {
							display: none;
						}

						.sk-three-bounce {
							display: inline-block;
							margin: 0;

							.sk-child {
								height: 13px;
								width: 13px;
								background-color: #ffffff;
							}
						}
					}
				}
			}

			&.message-active {
				.message {
					@extend .visible;
				}

				.message-form {
					@extend .hidden;
				}
			}
		}

		@media all and (max-width: 800px) {
			flex-direction: column;

			.slide-wrapper {
				margin: auto;
			}

			.address,
			.message-form {
				width: 100%;
				margin-left: 0;
				padding-right: 0;
			}

			.address {
				text-align: center;
				padding-bottom: 50px;
			}
		}
	}
}
